Flask==3.1.0
flask_cors==6.0.0
funasr==1.2.6
huggingface-hub==0.29.3
matplotlib==3.9.4
modelscope==1.23.2
numpy==1.26.4
openai==1.66.5
paddleocr==2.9.1
paddlepaddle==2.5.2
pandas==2.2.3
pillow==11.1.0
reportlab==4.3.1
requests==2.32.3
torch
torchaudio
torchvision
tqdm==4.67.1
transformers==4.49.0
urllib3==2.3.0
yt-dlp==2025.3.26