Flask==3.1.0
flask_cors==6.0.0
huggingface-hub==0.29.3
matplotlib==3.9.4
modelscope==1.23.2
numpy
openai==1.66.5
paddleocr==2.9.1
paddlepaddle==2.5.2
pandas
pillow
reportlab
requests
tqdm
transformers==4.49.0
urllib3
yt-dlp